 html {
	background-color: rgb(15, 59, 130);
	height: 100%;
	 background-image: linear-gradient(rgb(15, 59, 130), rgb(6, 23, 51));
 }
 
 /*Taken from html05, case 4, minus the horrible pink*/
body {
	width: 95%;
	min-width: 320px;
	max-width: 1080px;
	
	height: 100%;
	
	margin-left: auto;
	margin-right: auto;
	
	background-color: white;
	box-shadow: rgb(51, 51, 51) 10px 0px 50px, rgb(51, 51, 51) -10px 0px 50px;
	
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

/*   Navigation Styles   */
header {
	background-color: rgb(30, 30, 206);
	height: 5%;
	width: 100%;
}

nav {
	text-align: center;
	list-style: none;
}

nav a {
	text-decoration: none;
}

header nav ul li {
	background-color: rgb(30, 30, 206);
	padding: 0px 10px;
	display: inline;
}

header nav ul li a {
	color: white;
	font-size: 1.2em;
}

header nav ul li a:hover {
	 color: black;
	background-color: rgb(163, 163, 255);
}



