/* General Styles */
table {
	margin-left: auto;
	margin-right: auto;
}

/* Greeting Styles */

table tr.greeting {
	color: rgb(65, 48, 104);
	text-align: center;
}

/* Contact Info Styles*/
table tr.contact_info {
	margin-left: auto;
	margin-right: auto;
	
	background-color: rgb(174, 149, 229);
	background-image: radial-gradient(rgb(125, 72, 242) 65%, rgb(175, 146, 239) 35%);
	width: 20%;
	height: 50%;
	
	border: 8px double rgb(35, 6, 99);
	border-radius: 10px;
}

table tr.contact_info {
	text-align: center;
}

table tr.contact_info img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table tr.contact_info a, table tr.contact_info p{
	color: white;
	font-size: 1.1em;
}

table.contact_info a:hover {
	color: blue;
}

/*adds color to contact info*/
@media only screen and (max-width: 480px) {
	table tr.contact_info a {
		background-color: black;
	}
}