 /*Section Styles and only that in this css*/
section {
	width: 40%;
	height: 50%;
	
	margin-left: auto;
	margin-right: auto;
	
	padding-bottom: 25%;
	
	background-color: rgb(8, 3, 66);
	background: linear-gradient(rgb(8, 3, 66), rgb(35, 17, 247));
	border: 5px double rgb(86, 7, 155);
	border-radius: 10px;
	
	font-size: 1.3em;
	color: white;
}

section h2 {
	margin-left: 2%;
}

/*places sections vertically in mobile and overflows if you have a super small screen*/
@media only screen and (max-width: 480px) {
	section {
		width: 95%;
		overflow: auto;
	}
	
	section:nth-of-type(2) {
		margin-top: 1%;
	}
}
