p {
	text-align: center;
	font-size: 1.5em;
}

section {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	background-color: rgb(36, 80, 175);
	width: 50%;
	height: 50%;
	
	/*Prevents text from overflowing if the screen is very small*/
	min-width: 100px;
	
	text-align: center;
}

section p a {
	color: white;
}

section p a:hover {
	color: blue;
}

