
body {
	text-align: center;
}

/* Aside Nav Styles */

aside {
	background-color: rgb(27, 69, 137);
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	
	font-size: 1.2em;
	
	border: 2px dashed rgb(107, 150, 219);
}

aside#art_aside, aside#website_aside {
	width: 15%;
	height: 22%;
	
	/*Sets minumum so the text doesn't become scrunched up; it changes to the mobile view
	and removes the aside before it could become an issue due to the screen width*/
	min-width: 150px;
}

aside#program_aside {
	width: 20%;
	height: 30%;
	
	/*Same thing here with the minumum*/
	min-width: 200px;
}

aside p a {
	text-decoration: none;
}

aside h4 a, aside p a {
	color: white;
}

aside h4 a:hover, aside p a:hover {
	text-decoration: underline;
	color: rgb(4, 0, 255);
}

/* Table Styles */
table {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table, tr, td {
	border: 3px solid blue;
}

table caption {
	font-size: 2em;
}

/* Div Styles */
div {
	-webkit-order: 99;
	order: 99;
	width: 100%;
	
	font-size: 1.1em;
}

div p a {
	color: rgb(61, 12, 124);
}

div p a:hover {
	color: rgb(121, 34, 232);
}

/* =============================
	Mobile Styles: 0 - 480 pixels
   =============================
*/
@media only screen and (max-width: 480px) {
	table.normal_view {
		display: none;
	}
	
	aside {
		display: none;
	}
}

/* =================================================
	Tablet and Desktop Styles: 481 pixels and greater
   =================================================
*/ 
@media only screen and (min-width: 481px) {
	table.mobile_view {
		display: none;
	}
	
}
