/*Section styles*/ 
section {
	width: 95%;
	
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	
	color: white;
	
	background-color: rgb(38, 1, 147);
	background: linear-gradient( rgb(38, 1, 147), rgb(111, 70, 234));
	
	border: 5px solid rgb(14, 32, 38);
	border-radius: 10px;
}

section p, section img {
	margin-left: 0.5%;
	margin-right: 0.5%;
}

section p a{
	font-size: 1.2em;
	color: white;
}

section p a:hover {
	color: rgb(155, 122, 255);
}

section img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
}

section:nth-of-type(2) {
	margin-top: 1%;
}

/*Removes the image from mobile*/
@media only screen and (max-width: 480px) {
	section img, p#mobile_hide {
		display: none;
	}
}
